<div class="container">
  <h1 class="store-title">Kaspi магазин</h1>

  <div class="category-list">
  <button 
    *ngFor="let cat of categories" 
    (click)="selectCategory(cat.id)" 
    class="category-btn"
    [class.active]="selectedCategoryId === cat.id">
    {{ cat.name }}
  </button>
</div>

  <div *ngIf="selectedCategoryId !== null; else welcomeMessage">
    <app-product-list 
    [products]="filteredProducts" 
    (delete)="deleteProductFromMain($event)">
    </app-product-list>
  </div>

  <ng-template #welcomeMessage>
    <div class="welcome">
      <p>Пожалуйста, выберите категорию товаров, чтобы начать покупки.</p>
    </div>
  </ng-template>
</div>