<div class="card">
  <img [src]="product.image" [alt]="product.name" class="main-image">
  <h3>{{ product.name }}</h3>
  <p class="description">{{ product.description }}</p>
  <p class="price">Цена: {{ product.price }} ₸</p>
  <p>Лайки: {{ product.likes }}</p>
  <div class="rating">Рейтинг: {{ product.rating }} ⭐</div>
  
  <div class="actions">
    <div class="actions-container">
      <button class="action-btn like-btn" (click)="like()">👍 {{ product.likes }}</button>
      <button class="action-btn remove-btn" (click)="remove()">🗑</button>
      <a [href]="product.link" target="_blank" class="kaspi-btn">Купить на Kaspi</a>
  
    </div>
    
    <div class="share-buttons">
      <button (click)="shareToWhatsApp()">WhatsApp</button>
      <button (click)="shareToTelegram()">Telegram</button>
    </div>
  </div>
</div>