* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #ffffff;
  color: #1c1e21;
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px; 
  padding: 40px 20px;
  position: relative;
  gap:60px;
}
.main::after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%);
  width: 1px;
  height: 90%;
  background-color: #dbdbdb; 
  top: 10%; 
}

.left {
  width: 500px;
  text-align: center;
  position: relative;
}
.ig-logo {
  position: absolute;
  left: -130px;
  top: -30px;
  width: 65px;

}

.headline {
  margin: 0;
  font-family: "Times New Roman", serif;
  font-weight: 500;
  font-size: 38px;
  line-height: 48px;
  text-align: center;
  margin-left: 50px; 
}

.word-orange, .word-pink {
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.preview {
  width: 550px;
  margin-top: 28px;
}

.right {
  width: 400px;
  display: flex;
  justify-content: center;
}

.card {
  width: 380px;
  border: 1px solid #e6e6e6;
  border-radius: 14px;
  background: #fff;
  padding: 22px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.card-title {
  margin: 0 0 8px 0;
  font-size: 12px;
  font-weight: 700;
  color: #333;
}

input {
  height: 44px;
  border: 1px solid #e2e2e2;
  border-radius: 10px;
  padding: 0 14px;
  font-size: 13px;
}

.btn-main {
  height: 40px;
  border: none;
  border-radius: 22px;
  background: #a8c6ff;
  color: white;
  font-weight: 700;
  cursor: pointer;
}

.link {
  text-align: center;
  font-size: 12px;
  color:black;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.divider {
  height: 1px;
  background: #efefef;
  margin: 6px 0;
}

.btn-outline {
  height: 40px;
  border-radius: 22px;
  background: #fff;
  border: 1px solid #e2e2e2;
  color:black;
  font-weight: 700;
  cursor: pointer;
}

.fb-dot {
  display: inline-block;
  width: 18px;
  height: 18px;
  line-height: 18px;
  text-align: center;
  border-radius: 50%;
  background:blue;
  color: white;
  font-size: 12px;
  margin-right: 6px;
}

.btn-outline-blue {
  height: 40px;
  border-radius: 22px;
  background: #fff;
  border: 1px solid #1877f2;
  color: #1877f2;
  font-weight: 700;
  cursor: pointer;
}

.meta {
  text-align: center;
  font-size: 12px;
  color:black;
  margin-top: 8px;
}
.footer {
  padding: 18px 20px;
  font-size: 10px;
  color: #8e8e8e;
  text-align: center;
  border-top: 1px solid #eee;
}
